# =========================
# PYTHON
# =========================
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyd
*.pyo

# =========================
# VIRTUAL ENV
# =========================
.env
.venv
env/
venv/

# =========================
# POETRY
# =========================
.cache/
.pypoetry/
.python-version

# =========================
# JUPYTER
# =========================
.ipynb_checkpoints


# =========================
# DOCKER
# =========================
*.tar
*.gz

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# IDE
# =========================
.vscode/
.idea/